In [2]:
import numpy as np
import pandas as pd
import os
from sklearn.feature_selection import VarianceThreshold

In [3]:
os.getcwd()

'/Users/xiujuan/Desktop/BMI MASTER/IT5006 Data Analytics/groupAssignment'

In [4]:
df=pd.read_csv('delet_row_missing2.csv',index_col=0)
df=df.drop(['Unnamed: 0'], axis=1)
df.replace('PrivacySuppressed', np.nan,inplace=True)
# replace all 'PrivacySuppressed' to np.nan

/var/folders/w7/_4x8q4gx5m9bhtzk0c7gy40c0000gn/T/ipykernel_4418/2356052068.py:1: DtypeWarning: Columns (612,626,668,669,673,684,688,689,690,704,718,732,746,795,796,804,805,806,818,819,820,821,863,866,871,872,873,874,875,876,877,878,879,880,881,882,935,936,937,938,939,950,951,952,953,954,958,972,974,1058,1065,1113,1114,1115,1116,1117,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1435,1436,1568,1569,1570,1571,1580,1581,1582,1583,1812) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('delet_row_missing2.csv',index_col=0)

In [5]:
df.iloc[:,[612,626,668,669,673,684,688,689,690]]

,NONCOM_RPY_1YR_RT,NONCOM_RPY_3YR_RT,DEP_INC_PCT_LO,IND_INC_PCT_LO,INC_PCT_H1,APPL_SCH_PCT_GE4,OVERALL_YR2_N,LO_INC_YR2_N,MD_INC_YR2_N
0,0.111891892,0.187003968,0.569139673,0.901587302,0.062146893,0.457940992,1691,1002,517
1,0.346713892,0.429033417,0.3487095,0.594202899,0.114589156,0.165269238,3163,1335,1005
2,0.144208038,0.210772834,NaN,NaN,NaN,0.243243243,151,122,NaN
3,0.362745098,0.420181969,0.26901566,0.688851914,0.150690666,0.157388029,1419,477,404
4,0.10538201,0.177339902,0.577628635,0.921933086,0.052715655,0.384185304,1283,805,360
...,...,...,...,...,...,...,...,...,...
4375,NaN,NaN,NaN,NaN,NaN,NaN,869,390,286
4376,NaN,NaN,NaN,NaN,NaN,NaN,2924,2082,584
4377,NaN,NaN,NaN,NaN,NaN,NaN,229,130,59
4378,NaN,NaN,NaN,NaN,NaN,NaN,2591,1340,792
4379,NaN,NaN,NaN,NaN,NaN,NaN,176,109,55

In [23]:
df.shape

(4380, 1841)

In [7]:
df.head(3)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,834.0,36639.0,0.6044,34076.0,35597.0,43145.0,40299.0,35424.0,36050.0,36377.0
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,1233.0,49652.0,0.7472,42254.0,49817.0,51571.0,48182.0,46435.0,42007.0,56164.0
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu/,www2.amridgeuniversity.edu:9091/,...,78.0,50355.0,0.6286,36636.0,44836.0,NaN,39040.0,NaN,32311.0,49599.0

In [8]:
df.describe()

,UNITID,OPEID,OPEID6,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
count,4380.000000,4.380000e+03,4380.000000,4371.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,...,3803.000000,3803.000000,4061.000000,4036.000000,3823.000000,2995.000000,3807.000000,3937.000000,4008.000000,3619.000000
mean,252076.324886,1.371334e+06,12548.940639,2.073439,0.008676,0.829909,2.510046,2.070776,2.639498,1.944749,...,1240.500131,43213.691296,0.616889,37918.830278,44256.613131,50587.510518,39491.573943,41299.616967,37577.876996,47992.281293
std,124165.981788,2.972025e+06,12727.005991,0.877826,0.092750,0.375756,5.520676,0.883750,1.189488,0.835476,...,4929.667852,14168.201731,0.169429,13781.584433,13469.295714,14571.146920,14675.440093,14296.718205,13840.615359,15869.094820
min,100654.000000,1.002000e+05,1002.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,16.000000,13548.000000,0.139900,13227.000000,15156.000000,16187.000000,12868.000000,13843.000000,14274.000000,11998.000000
25%,160627.750000,2.671030e+05,2670.750000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,143.000000,34604.500000,0.498100,28637.250000,36000.000000,41510.500000,29073.000000,31377.000000,27691.000000,38199.000000
50%,205191.000000,6.385165e+05,6385.000000,2.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,...,388.000000,40680.000000,0.627300,35457.500000,42245.000000,48659.000000,36705.000000,38867.000000,34498.000000,45536.000000
75%,381292.750000,2.230851e+06,22213.500000,3.000000,0.000000,1.000000,2.000000,3.000000,4.000000,3.000000,...,1004.500000,49632.500000,0.753100,44247.250000,50663.500000,57575.000000,46861.500000,47922.000000,43831.750000,55100.000000
max,493451.000000,8.209888e+07,42837.000000,3.000000,1.000000,1.000000,74.000000,4.000000,4.000000,3.000000,...,85867.000000,147121.000000,0.985300,123824.000000,127456.000000,125001.000000,125815.000000,131792.000000,118912.000000,156181.000000

In [9]:
df.describe(include='all')

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INC3_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
count,4380.000000,4.380000e+03,4380.000000,4380,4380,4380,4380,4290,4380,4371,...,3803.000000,3803.000000,4061.000000,4036.000000,3823.000000,2995.000000,3807.000000,3937.000000,4008.000000,3619.000000
unique,NaN,NaN,NaN,4304,1923,58,4034,29,3786,3664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Cortiva Institute,New York,CA,78229,Higher Learning Commission,www.empire.edu/,www.empire.edu/net-price-calculator,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,6,48,436,5,988,73,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,252076.324886,1.371334e+06,12548.940639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1240.500131,43213.691296,0.616889,37918.830278,44256.613131,50587.510518,39491.573943,41299.616967,37577.876996,47992.281293
std,124165.981788,2.972025e+06,12727.005991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4929.667852,14168.201731,0.169429,13781.584433,13469.295714,14571.146920,14675.440093,14296.718205,13840.615359,15869.094820
min,100654.000000,1.002000e+05,1002.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.000000,13548.000000,0.139900,13227.000000,15156.000000,16187.000000,12868.000000,13843.000000,14274.000000,11998.000000
25%,160627.750000,2.671030e+05,2670.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143.000000,34604.500000,0.498100,28637.250000,36000.000000,41510.500000,29073.000000,31377.000000,27691.000000,38199.000000
50%,205191.000000,6.385165e+05,6385.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,388.000000,40680.000000,0.627300,35457.500000,42245.000000,48659.000000,36705.000000,38867.000000,34498.000000,45536.000000
75%,381292.750000,2.230851e+06,22213.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1004.500000,49632.500000,0.753100,44247.250000,50663.500000,57575.000000,46861.500000,47922.000000,43831.750000,55100.000000
max,493451.000000,8.209888e+07,42837.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85867.000000,147121.000000,0.985300,123824.000000,127456.000000,125001.000000,125815.000000,131792.000000,118912.000000,156181.000000

In [10]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [11]:
#check na, and there is 1403 columns has at least 60% of valid value
len(df.columns[np.where(df.isna().sum().apply(lambda x: (1-x/4380))>=0.6)])

1403

In [12]:
#check na, and there is 1403 columns has at least 60% of valid value
len(df.columns[np.where(df.isna().sum().apply(lambda x: (1-x/4380))>=0.7)])

1248

In [13]:
#check na, and there is 312 columns has at least 60% of valid value
len(df.columns[np.where(df.isna().sum().apply(lambda x: (1-x/4380))>=0.99)])

312

In [14]:
#look at overall non-na percentage in each columns
df.isna().sum().apply(lambda x: (1-x/4380)).sort_values(ascending=False)

UNITID        1.000000
CIP26ASSOC    1.000000
CIP30CERT4    1.000000
CIP30ASSOC    1.000000
CIP30CERT2    1.000000
                ...
MTHCMP6       0.091096
CIPTITLE6     0.089498
ACTWR75       0.066667
ACTWR25       0.066667
ACTWRMID      0.066667
Length: 1841, dtype: float64

In [15]:
#after disucsson we decided to set threshold as 0.7 as our final dataset

In [24]:
# split dataset into accoridng to different level of missing values
df1=df.iloc[:,np.where(df.isna().sum().apply(lambda x: (1-x/4380))>=0.7)[0]]

In [25]:
df1.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,MD_EARN_WNE_MALE0_P8,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,32612.0,834.0,36639.0,0.6044,34076.0,35597.0,40299.0,35424.0,36050.0,36377.0
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,41296.0,1233.0,49652.0,0.7472,42254.0,49817.0,48182.0,46435.0,42007.0,56164.0
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu/,www2.amridgeuniversity.edu:9091/,...,24940.0,78.0,50355.0,0.6286,36636.0,44836.0,39040.0,NaN,32311.0,49599.0
3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,41189.0,891.0,57542.0,0.7769,49469.0,60533.0,56884.0,53803.0,45170.0,66070.0
4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,27573.0,1077.0,32797.0,0.5178,30634.0,34533.0,30602.0,32364.0,29836.0,35315.0

In [26]:
df1.describe(include='all')

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,MD_EARN_WNE_MALE0_P8,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
count,4380.000000,4.380000e+03,4380.000000,4380,4380,4380,4380,4290,4380,4371,...,4136.000000,3803.000000,3803.000000,4061.000000,4036.000000,3823.000000,3807.000000,3937.000000,4008.000000,3619.000000
unique,NaN,NaN,NaN,4304,1923,58,4034,29,3786,3664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Cortiva Institute,New York,CA,78229,Higher Learning Commission,www.empire.edu/,www.empire.edu/net-price-calculator,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,6,48,436,5,988,73,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,252076.324886,1.371334e+06,12548.940639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35071.307302,1240.500131,43213.691296,0.616889,37918.830278,44256.613131,39491.573943,41299.616967,37577.876996,47992.281293
std,124165.981788,2.972025e+06,12727.005991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13135.098197,4929.667852,14168.201731,0.169429,13781.584433,13469.295714,14675.440093,14296.718205,13840.615359,15869.094820
min,100654.000000,1.002000e+05,1002.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11822.000000,16.000000,13548.000000,0.139900,13227.000000,15156.000000,12868.000000,13843.000000,14274.000000,11998.000000
25%,160627.750000,2.671030e+05,2670.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25850.000000,143.000000,34604.500000,0.498100,28637.250000,36000.000000,29073.000000,31377.000000,27691.000000,38199.000000
50%,205191.000000,6.385165e+05,6385.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31954.500000,388.000000,40680.000000,0.627300,35457.500000,42245.000000,36705.000000,38867.000000,34498.000000,45536.000000
75%,381292.750000,2.230851e+06,22213.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41260.250000,1004.500000,49632.500000,0.753100,44247.250000,50663.500000,46861.500000,47922.000000,43831.750000,55100.000000
max,493451.000000,8.209888e+07,42837.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125849.000000,85867.000000,147121.000000,0.985300,123824.000000,127456.000000,125815.000000,131792.000000,118912.000000,156181.000000

In [50]:
# numeric column
from sklearn.impute import SimpleImputer
num_col=df1.select_dtypes(include=['int64','float64'],exclude=['string'] )

In [51]:
num_col_index=num_col.columns

In [79]:
num_col.shape

(4380, 511)

In [85]:
num_col.to_csv('numeric_columns.csv',index=True)

In [82]:
num_col.head()

,UNITID,OPEID,OPEID6,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,...,MD_EARN_WNE_MALE0_P8,COUNT_WNE_MALE1_P8,MD_EARN_WNE_MALE1_P8,GT_THRESHOLD_P10,MD_EARN_WNE_INC1_P10,MD_EARN_WNE_INC2_P10,MD_EARN_WNE_INDEP1_P10,MD_EARN_WNE_INDEP0_P10,MD_EARN_WNE_MALE0_P10,MD_EARN_WNE_MALE1_P10
0,100654,100200.0,1002.0,3.0,0,1,1,3,4,1,...,32612.0,834.0,36639.0,0.6044,34076.0,35597.0,40299.0,35424.0,36050.0,36377.0
1,100663,105200.0,1052.0,3.0,0,1,1,3,4,1,...,41296.0,1233.0,49652.0,0.7472,42254.0,49817.0,48182.0,46435.0,42007.0,56164.0
2,100690,2503400.0,25034.0,3.0,0,1,1,2,4,2,...,24940.0,78.0,50355.0,0.6286,36636.0,44836.0,39040.0,NaN,32311.0,49599.0
3,100706,105500.0,1055.0,3.0,0,1,1,3,4,1,...,41189.0,891.0,57542.0,0.7769,49469.0,60533.0,56884.0,53803.0,45170.0,66070.0
4,100724,100500.0,1005.0,3.0,0,1,1,3,4,1,...,27573.0,1077.0,32797.0,0.5178,30634.0,34533.0,30602.0,32364.0,29836.0,35315.0

In [71]:
len(df_num_variance),len(df_num_variance[0])

(4380, 189)

### 1.1 Select Nominal Data (numeric data representing category) using data dictionary

In [173]:
dic=pd.read_excel('CollegeScorecardDataDictionary.xlsx',sheet_name='Institution_Data_Dictionary')

In [174]:
dic=dic[['NAME OF DATA ELEMENT','dev-category','API data type','VARIABLE NAME','VALUE','LABEL','NOTES']]

In [175]:
dic.head(15)

,NAME OF DATA ELEMENT,dev-category,API data type,VARIABLE NAME,VALUE,LABEL,NOTES
0,Unit ID for institution,root,integer,UNITID,NaN,NaN,NaN
1,8-digit OPE ID for institution,root,string,OPEID,NaN,NaN,NaN
2,6-digit OPE ID for institution,root,string,OPEID6,NaN,NaN,NaN
3,Institution name,school,autocomplete,INSTNM,NaN,NaN,NaN
4,City,school,autocomplete,CITY,NaN,NaN,NaN
5,State postcode,school,string,STABBR,NaN,NaN,NaN
6,ZIP code,school,string,ZIP,NaN,NaN,NaN
7,Accreditor for institution,school,string,ACCREDAGENCY,NaN,NaN,NaN
8,URL for institution's homepage,school,string,INSTURL,NaN,NaN,NaN
9,URL for institution's net price calculator,school,string,NPCURL,NaN,NaN,NaN
10,Predominant degree awarded (recoded 0s and 4s),school,integer,SCH_DEG,NaN,NaN,"Missing values, 0s, and 4s from PREDDEG recode..."
11,Schools that are on Heightened Cash Monitoring...,school,integer,HCM2,NaN,NaN,Flag (1=HCM2)
12,Flag for main campus,school,integer,MAIN,0,Not main campus,NaN
13,NaN,school,NaN,NaN,1,Main campus,NaN
14,Number of branch campuses,school,integer,NUMBRANCH,NaN,NaN,NaN

In [178]:
dic.shape

(3251, 7)

In [176]:
dic_tofill=dic[['NAME OF DATA ELEMENT','VARIABLE NAME']].fillna(method="ffill")

In [177]:
dic_tofill

,NAME OF DATA ELEMENT,VARIABLE NAME
0,Unit ID for institution,UNITID
1,8-digit OPE ID for institution,OPEID
2,6-digit OPE ID for institution,OPEID6
3,Institution name,INSTNM
4,City,CITY
...,...,...
3246,Median earnings of students working and not en...,MD_EARN_WNE_INC3_P10
3247,Median earnings of independent students workin...,MD_EARN_WNE_INDEP1_P10
3248,Median earnings of dependent students working ...,MD_EARN_WNE_INDEP0_P10
3249,Median earnings of non-male students working a...,MD_EARN_WNE_MALE0_P10
3250,Median earnings of male students working and n...,MD_EARN_WNE_MALE1_P10

In [181]:
dic1=dic.drop(columns=['NAME OF DATA ELEMENT','VARIABLE NAME','dev-category','API data type','NOTES'])

In [184]:
dic=pd.concat([dic_tofill,dic1],axis=1)

In [186]:
dic.head(30)

,NAME OF DATA ELEMENT,VARIABLE NAME,VALUE,LABEL
0,Unit ID for institution,UNITID,NaN,NaN
1,8-digit OPE ID for institution,OPEID,NaN,NaN
2,6-digit OPE ID for institution,OPEID6,NaN,NaN
3,Institution name,INSTNM,NaN,NaN
4,City,CITY,NaN,NaN
5,State postcode,STABBR,NaN,NaN
6,ZIP code,ZIP,NaN,NaN
7,Accreditor for institution,ACCREDAGENCY,NaN,NaN
8,URL for institution's homepage,INSTURL,NaN,NaN
9,URL for institution's net price calculator,NPCURL,NaN,NaN
10,Predominant degree awarded (recoded 0s and 4s),SCH_DEG,NaN,NaN
11,Schools that are on Heightened Cash Monitoring...,HCM2,NaN,NaN
12,Flag for main campus,MAIN,0,Not main campus
13,Flag for main campus,MAIN,1,Main campus
14,Number of branch campuses,NUMBRANCH,NaN,NaN
15,Predominant undergraduate degree awarded\n 0 N...,PREDDEG,0,Not classified
16,Predominant undergraduate degree awarded\n 0 N...,PREDDEG,1,Predominantly certificate-degree granting
17,Predominant undergraduate degree awarded\n 0 N...,PREDDEG,2,Predominantly associate's-degree granting
18,Predominant undergraduate degree awarded\n 0 N...,PREDDEG,3,Predominantly bachelor's-degree granting
19,Predominant undergraduate degree awarded\n 0 N...,PREDDEG,4,Entirely graduate-degree granting
20,Highest degree awarded\n 0 Non-degree-granting...,HIGHDEG,0,Non-degree-granting
21,Highest degree awarded\n 0 Non-degree-granting...,HIGHDEG,1,Certificate degree
22,Highest degree awarded\n 0 Non-degree-granting...,HIGHDEG,2,Associate degree
23,Highest degree awarded\n 0 Non-degree-granting...,HIGHDEG,3,Bachelor's degree
24,Highest degree awarded\n 0 Non-degree-granting...,HIGHDEG,4,Graduate degree
25,Control of institution,CONTROL,1,Public
26,Control of institution,CONTROL,2,Private nonprofit
27,Control of institution,CONTROL,3,Private for-profit
28,FIPS code for state,ST_FIPS,1,Alabama
29,FIPS code for state,ST_FIPS,2,Alaska

In [203]:
merged=pd.merge(pd.DataFrame(num_col.columns,columns=['VARIABLE NAME']),dic, on='VARIABLE NAME',how ='left')

In [221]:
grouped=merged.groupby(by=['VARIABLE NAME'],dropna=False,sort=False,as_index=False).agg({'VALUE':'nunique','LABEL':'unique'}).apply(lambda x:x).sort_values(by='VALUE',ascending=False)

In [233]:
grouped[grouped.VALUE>=1].to_csv('num_columns_categoricalvalue.csv',index=True)

In [234]:
grouped #if unique count is more than 1, then it will be categorical like following

,VARIABLE NAME,VALUE,LABEL
10,ST_FIPS,58,"[Alabama, Alaska, Arizona, Arkansas, Californi..."
15,CCBASIC,35,"[Not applicable, (Not classified), Associate's..."
17,CCSIZSET,20,"[Not applicable, (Not classified), Two-year, v..."
16,CCUGPROF,17,"[Not applicable, Not classified (Exclusively G..."
12,LOCALE,12,"[City: Large (population of 250,000 or more), ..."
...,...,...,...
181,CIP39CERT2,0,[nan]
180,CIP39CERT1,0,[nan]
179,CIP38BACHL,0,[nan]
178,CIP38CERT4,0,[nan]
510,MD_EARN_WNE_MALE1_P10,0,[nan]

# NEXT, set aside nominal data
for ordinal numeric data, we calculate vairance, remove low variant columns
for nominal numeric data, we will decide from then on

### 1.2 Variance

In [235]:
# set threshold as 0.8
selected = VarianceThreshold(threshold=(.8 * (1 - .8)))
df_num_variance=selected.fit_transform(num_col)

### 1.3 pearson corr against target

In [236]:
def pearson_correlation(df,target_threshold,feature_threshold):
    #df=df.drop(columns='outcome')
    if target_threshold:
        target='outcome'
        corr=df.corr()
        candidates=corr.index[(corr[target].abs()>target_threshold)].values
        candidates=candidates[candidates!=target]
    else:
        corr=df.corr()
    #print('correlated to',target,': ',candidates)
    removed=[]
    for c1 in candidates:
        for c2 in candidates:
            if (c1 not in removed) and (c2 not in removed):
                if c1 !=c2:
                    coef=corr.loc[c1,c2]
                    if coef>(feature_threshold) or coef<(-feature_threshold):
                        print('coef between {} and {} :{}'.format(c1,c2,coef))
                        removed.append(c1)
    print('removed:', removed)
    return removed

## 2. Missing Value

## (DONT USE) 1. Missing Value (XJ's try)

In [52]:
num_col_index

Index(['UNITID', 'OPEID', 'OPEID6', 'SCH_DEG', 'HCM2', 'MAIN', 'NUMBRANCH',
       'PREDDEG', 'HIGHDEG', 'CONTROL',
       ...
       'MD_EARN_WNE_MALE0_P8', 'COUNT_WNE_MALE1_P8', 'MD_EARN_WNE_MALE1_P8',
       'GT_THRESHOLD_P10', 'MD_EARN_WNE_INC1_P10', 'MD_EARN_WNE_INC2_P10',
       'MD_EARN_WNE_INDEP1_P10', 'MD_EARN_WNE_INDEP0_P10',
       'MD_EARN_WNE_MALE0_P10', 'MD_EARN_WNE_MALE1_P10'],
      dtype='object', length=511)

### 1.1 missing value using mean

In [53]:
imp_mean= SimpleImputer(missing_values=np.nan, strategy='mean')

In [54]:
num_col_imput_mean=imp_mean.fit_transform(num_col)

In [55]:
df_num_imp_mean=pd.DataFrame(num_col_imput_mean,columns=num_col_index)

In [64]:
len(df_num_mean_variance[0])

188

In [65]:
df_num_mean_variance

array([[1.00654000e+05, 1.00200000e+05, 1.00200000e+03, ...,
        3.54240000e+04, 3.60500000e+04, 3.63770000e+04],
       [1.00663000e+05, 1.05200000e+05, 1.05200000e+03, ...,
        4.64350000e+04, 4.20070000e+04, 5.61640000e+04],
       [1.00690000e+05, 2.50340000e+06, 2.50340000e+04, ...,
        4.12996170e+04, 3.23110000e+04, 4.95990000e+04],
       ...,
       [4.93080000e+05, 4.14430100e+06, 4.14430000e+04, ...,
        4.12996170e+04, 3.75778770e+04, 4.79922813e+04],
       [4.93132000e+05, 2.36200400e+06, 2.36200000e+04, ...,
        5.17470000e+04, 4.51180000e+04, 5.12640000e+04],
       [4.93451000e+05, 3.97040200e+06, 3.97040000e+04, ...,
        2.83880000e+04, 2.57800000e+04, 4.79922813e+04]])

### 1.2 missing value using median

In [59]:
imp_median= SimpleImputer(missing_values=np.nan, strategy='median')
num_col_imput_median=imp_median.fit_transform(num_col)

In [61]:
num_col_imput_median.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [76]:
corr=num_col.corr()
feature_threshold=0.5
removed=[]
for c1 in num_col.columns:
    for c2 in num_col.columns:
        if (c1 not in removed) and (c2 not in removed):
            if c1 !=c2:
                coef=corr.loc[c1,c2]
                if coef>(feature_threshold) or coef<(-feature_threshold):
                    print('coef between {} and {} :{}'.format(c1,c2,coef))
                    removed.append(c1)

coef between UNITID and OPEID6 :0.6654072262838182
coef between OPEID and COUNT_WNE_P10 :0.7375452993453325
coef between OPEID6 and SCH_DEG :-0.5529989481934982
coef between SCH_DEG and PREDDEG :0.9461991587158912
coef between NUMBRANCH and INC_N :0.5003895403070786
coef between PREDDEG and HIGHDEG :0.8799777589890091
coef between HIGHDEG and CCBASIC :0.8599347251976419
coef between CONTROL and PCIP24 :-0.5039185107302699
coef between REGION and LONGITUDE :-0.6412469722650977
coef between CCBASIC and CCUGPROF :0.8282477595208636
coef between CCUGPROF and CCSIZSET :0.8786567126664757
coef between CCSIZSET and PCIP26 :0.50894725396458
coef between TRIBAL and UGDS_AIAN :0.917780097842444
coef between AANAPII and UGDS_ASIAN :0.5002319545979933
coef between HSI and UGDS_HISP :0.5366007064641216
coef between PCIP12 and CIP12CERT1 :0.5926558188132222
coef between PCIP13 and CIP13BACHL :0.508419070475846
coef between PCIP23 and TUITIONFEE_OUT :0.5097514933366482
coef between PCIP24 and CIP24ASSOC :0.6013130608761114
coef between PCIP25 and CIP25CERT1 :0.553535673108641
coef between PCIP26 and PCIP54 :0.5278694644719133
coef between PCIP27 and PCIP45 :0.6262111540994303
coef between PCIP31 and CIP31BACHL :0.582852962602495
coef between PCIP39 and CIP39ASSOC :0.6559177039706316
coef between PCIP42 and CIP23BACHL :0.5181753696360167
coef between PCIP45 and PCIP54 :0.5990894058375966
coef between PCIP52 and CIP52BACHL :0.5865054404202379
coef between PCIP54 and CIP16BACHL :0.5817552423715121
coef between CIP01CERT1 and CIP01ASSOC :0.5351156471719792
coef between CIP01CERT2 and CIP01ASSOC :0.596492562082377
coef between CIP03BACHL and CIP05BACHL :0.5626310495984365
coef between CIP05ASSOC and OMACHT6_PTNFT :0.5031168172071788
coef between CIP05CERT4 and CIP26CERT4 :0.5770204715905588
coef between CIP05BACHL and CIP16BACHL :0.6379916399899205
coef between CIP09ASSOC and CIP16ASSOC :0.5192541188169368
coef between CIP09BACHL and CIP11BACHL :0.635142729768574
coef between CIP10CERT1 and CIP10ASSOC :0.5721684988841447
coef between CIP10CERT2 and CIP10ASSOC :0.611352117920378
coef between CIP11CERT1 and CIP11ASSOC :0.5546882266177713
coef between CIP11CERT2 and CIP11ASSOC :0.6004403008344955
coef between CIP11ASSOC and CIP13ASSOC :0.5165998564989982
coef between CIP11BACHL and CIP13BACHL :0.6063823327577275
coef between CIP12CERT1 and CIP12CERT2 :0.6758541663358784
coef between CIP12CERT2 and ICLEVEL :0.5163123700891938
coef between CIP12ASSOC and CIP15ASSOC :0.538806871448879
coef between CIP13ASSOC and CIP15ASSOC :0.5129589873566104
coef between CIP13BACHL and CIP16BACHL :0.590697710675813
coef between CIP14ASSOC and CIP26ASSOC :0.5253044084723968
coef between CIP14BACHL and CIP16BACHL :0.5689913405257475
coef between CIP15CERT1 and CIP15CERT2 :0.5608966013858779
coef between CIP15CERT2 and CIP15ASSOC :0.6600090127204882
coef between CIP15ASSOC and CIP24ASSOC :0.5626206846716764
coef between CIP16ASSOC and CIP23ASSOC :0.5618498713628319
coef between CIP16BACHL and CIP23BACHL :0.7426761747914992
coef between CIP19CERT1 and CIP43CERT1 :0.5435115884885627
coef between CIP19CERT2 and CIP19ASSOC :0.6366066550357541
coef between CIP22CERT2 and CIP22ASSOC :0.5637040691653848
coef between CIP23ASSOC and CIP26ASSOC :0.664694766576908
coef between CIP23BACHL and CIP24BACHL :0.6760368698381777
coef between CIP24ASSOC and CIP43ASSOC :0.6125706366566331
coef between CIP24BACHL and CIP26BACHL :0.6528388717828614
coef between CIP25CERT1 and CIP25ASSOC :0.5598569440681785
coef between CIP25CERT4 and CIP42CERT4 :0.7070260381910018
coef between CIP26ASSOC and CIP27ASSOC :0.6863983430872596
coef between CIP26CERT4 and CIP41CERT4 :0.5772184089003214
coef between CIP26BACHL and CIP27BACHL :0.8779706894667154
coef between CIP27CERT2 and CIP54CERT2 :0.5231590249723108
coef between CIP27ASSOC and CIP31ASSOC :0.5673110923996151
coef between CIP27CERT4 and CIP44CERT4 :0.707026038191002
coef between CIP27BACHL and CIP30BACHL :0.7089594110119595
coef between CIP30BACHL and CIP31BACHL :0.571964650864795
coef between CIP31ASSOC and CIP40ASSOC :0.5498948364850517
coef between CIP31BACHL and CIP38BACHL :0.5388786343679385
coef between CIP38BACHL and CIP40BACHL :0.7526527458218688
coef between CIP39ASSOC and CIP39BACHL :0.5625957575781558
coef between CIP40ASSOC and CIP42ASSOC :0.6161653615190968
coef between CIP40BACHL and CIP42BACHL :0.742913911363236
coef between CIP41CERT4 and CIP45CERT4 :0.632354429442586
coef between CIP42ASSOC and CIP45ASSOC :0.6513838877172431
coef between CIP42CERT4 and CIP54CERT4 :0.707026038191002
coef between CIP42BACHL and CIP43BACHL :0.5537450081695416
coef between CIP43CERT1 and CIP43ASSOC :0.5282128576012537
coef between CIP43CERT2 and CIP43ASSOC :0.5227976547110291
coef between CIP43ASSOC and CIP47ASSOC :0.5078538892945323
coef between CIP43BACHL and CIP45BACHL :0.5010605875676549
coef between CIP44BACHL and CIP45BACHL :0.5930348864780828
coef between CIP45ASSOC and CIP54ASSOC :0.6314346794890571
coef between CIP45BACHL and CIP50BACHL :0.7467948866025179
coef between CIP46CERT1 and CIP46CERT2 :0.5053824501199924
coef between CIP46CERT2 and CIP46ASSOC :0.6428154496860349
coef between CIP46ASSOC and CIP47ASSOC :0.5550386282646326
coef between CIP47CERT1 and CIP47CERT2 :0.5712758044112877
coef between CIP47CERT2 and CIP47ASSOC :0.7060206775737075
coef between CIP47ASSOC and CIP48CERT1 :0.5745008834653492
coef between CIP48CERT1 and CIP48CERT2 :0.640818686970508
coef between CIP48CERT2 and CIP48ASSOC :0.6797566663959007
coef between CIP50ASSOC and CIP52ASSOC :0.512674179015396
coef between CIP50BACHL and CIP51BACHL :0.5283255175167028
coef between CIP51CERT1 and CIP51CERT2 :0.5424290179536227
coef between CIP51CERT2 and CIP51ASSOC :0.6538076579438711
coef between CIP51ASSOC and CIP52CERT2 :0.5513491399327098
coef between CIP51BACHL and CIP52BACHL :0.7059415756276656
coef between CIP52CERT1 and CIP52CERT2 :0.5232592603138854
coef between CIP52CERT2 and CIP52ASSOC :0.6538884689456795
coef between CIP52ASSOC and OMAWDP8_ALL :-0.5447314025372577
coef between CIP52BACHL and CIP54BACHL :0.6298608842860998
coef between CIP54BACHL and TUITIONFEE_OUT :0.5589213363606678
coef between UGDS and COUNT_WNE_INDEP0_P6 :0.5092156929744917
coef between UGDS_WHITE and UGDS_HISP :-0.5712620264999945
coef between UGDS_ASIAN and AVGFACSAL :0.5060979237291994
coef between PPTUG_EF and COSTT4_A :-0.5948448529742215
coef between COSTT4_A and TUITIONFEE_IN :0.9778960143487517
coef between TUITIONFEE_IN and TUITIONFEE_OUT :0.932608874408805
coef between TUITIONFEE_OUT and TUITFTE :0.7436030785883014
coef between TUITFTE and OMAWDP6_FTFT :0.5061879404635604
coef between INEXPFTE and AVGFACSAL :0.5076844942249193
coef between AVGFACSAL and PCTPELL :-0.5249331981101113
coef between PCTPELL and FAMINC :-0.5882513884697559
coef between POOLYRS and POOLYRS200 :0.6820275703198577
coef between PFTFTUG1_EF and OMAWDP8_FIRSTTIME :0.5053522928088596
coef between POOLYRS200 and POOLYRSRET_FT :0.5917820648355897
coef between PCTFLOAN and SCHTYPE :0.5823350532634124
coef between UG25ABV and AGE_ENTRY :0.8874943251840165
coef between CDR2 and CDR3 :0.5446413707596652
coef between CDR3 and FAMINC :-0.5732483845817962
coef between INC_N and DEP_STAT_N :1.0
coef between DEP_STAT_N and APPL_SCH_N :1.0
coef between APPL_SCH_N and COUNT_WNE_P10 :0.744342448518749
coef between AGE_ENTRY and FAMINC :-0.6215848997998903
coef between FAMINC and MD_FAMINC :0.9784813155979135
coef between MD_FAMINC and MD_EARN_WNE_P10 :0.6831707497404395
coef between COUNT_WNE_P10 and COUNT_WNE_INC1_P10 :0.9943860287214701
coef between MD_EARN_WNE_P10 and PCT25_EARN_WNE_P10 :0.9720719826290296
coef between PCT25_EARN_WNE_P10 and PCT75_EARN_WNE_P10 :0.9301040191801937
coef between PCT75_EARN_WNE_P10 and MD_EARN_WNE_P6 :0.9278190902927334
coef between COUNT_WNE_INC1_P10 and COUNT_WNE_INC2_P10 :0.9848893558702783
coef between COUNT_WNE_INC2_P10 and COUNT_WNE_INDEP0_P10 :0.6210723561037264
coef between COUNT_WNE_INDEP0_P10 and COUNT_WNE_MALE0_P10 :0.5492147223665603
coef between COUNT_WNE_INDEP1_P10 and COUNT_WNE_MALE0_P10 :0.9916715811984378
coef between COUNT_WNE_MALE0_P10 and COUNT_WNE_MALE1_P10 :0.9247897331311861
coef between COUNT_WNE_MALE1_P10 and COUNT_WNE_P6 :0.9529180554637268
coef between COUNT_WNE_P6 and COUNT_WNE_INC1_P6 :0.9928356416721513
coef between MD_EARN_WNE_P6 and PCT25_EARN_WNE_P6 :0.9697233106777294
coef between PCT25_EARN_WNE_P6 and PCT75_EARN_WNE_P6 :0.916444623026261
coef between PCT75_EARN_WNE_P6 and MD_EARN_WNE_P8 :0.9565048231077148
coef between COUNT_WNE_INC1_P6 and COUNT_WNE_INC2_P6 :0.9609709564144232
coef between COUNT_WNE_INC2_P6 and COUNT_WNE_INC3_P6 :0.7871234419593559
coef between COUNT_WNE_INC3_P6 and COUNT_WNE_INDEP0_P6 :0.8458585358123327
coef between COUNT_WNE_INDEP0_P6 and COUNT_WNE_INDEP1_P6 :0.5327841420134549
coef between COUNT_WNE_INDEP1_P6 and COUNT_WNE_MALE0_P6 :0.9882192239652748
coef between COUNT_WNE_MALE0_P6 and COUNT_WNE_MALE1_P6 :0.9084240026836315
coef between COUNT_WNE_MALE1_P6 and COUNT_WNE_P8 :0.9146168412270872
coef between COUNT_WNE_P8 and CDR3_DENOM :0.8612259753911582
coef between MD_EARN_WNE_P8 and PCT25_EARN_WNE_P8 :0.9701022110453744
coef between PCT25_EARN_WNE_P8 and PCT75_EARN_WNE_P8 :0.9224401146225747
coef between PCT75_EARN_WNE_P8 and ICLEVEL :-0.5084753451656181
coef between ICLEVEL and OPENADMP :-0.6493217933307988
coef between UGDS_MEN and UGDS_WOMEN :-0.9917491761313655
coef between CDR3_DENOM and CDR2_DENOM :0.8042164568073606
coef between CDR2_DENOM and COUNT_NWNE_3YR :0.7980787629751634
coef between D_PCTPELL_PCTFLOAN and OMACHT6_FTFT :0.8143982707528858
coef between OPENADMP and OMENRUP8_FTFT :-0.5427813816012219
coef between OMACHT6_FTFT and OMACHT8_FTFT :1.0
coef between OMAWDP6_FTFT and OMAWDP8_FTFT :0.9908392359180294
coef between OMACHT8_FTFT and OMACHT6_FTNFT :0.5284404106852901
coef between OMAWDP8_FTFT and OMENRUP8_FTFT :-0.7505960416857478
coef between OMENRYP8_FTFT and OMENRYP8_FTFT_POOLED :0.6321650577935798
coef between OMENRAP8_FTFT and OMENRAP8_FTNFT :0.6810262460200633
coef between OMENRUP8_FTFT and OMAWDP6_FTNFT :-0.5874782972262442
coef between OMACHT6_PTFT and OMACHT8_PTFT :1.0
coef between OMACHT8_PTFT and OMACHT6_PTNFT :0.5848595275455016
coef between OMACHT6_FTNFT and OMACHT8_FTNFT :1.0
coef between OMAWDP6_FTNFT and OMAWDP8_FTNFT :0.9942293982921678
coef between OMACHT8_FTNFT and OMACHT6_FTFT_POOLED :0.576815235386315
coef between OMAWDP8_FTNFT and OMENRAP8_FTNFT :-0.5579473255212372
coef between OMENRYP8_FTNFT and OMENRYP8_FTNFT_POOLED :0.7673285309119144
coef between OMENRAP8_FTNFT and OMENRAP8_FTFT_POOLED :0.6699415237430837
coef between OMENRUP8_FTNFT and OMENRUP8_FTFT_POOLED :0.686031685753933
coef between OMACHT6_PTNFT and OMACHT8_PTNFT :1.0
coef between OMACHT8_PTNFT and OMACHT6_PTFT_POOLED :0.6027334527131725
coef between POOLYRSRET_FT and POOLYRS100 :0.5962678266652329
coef between POOLYRSRET_PT and POOLYRSOM_PTFT :0.6002026270379835
coef between POOLYRS100 and POOLYRSOM_FTFT :0.5710897435689105
coef between OMACHT6_FTFT_POOLED and OMACHT8_FTFT_POOLED :1.0
coef between OMAWDP6_FTFT_POOLED and OMAWDP8_FTFT_POOLED :0.9961348307391672
coef between OMACHT8_FTFT_POOLED and OMACHT6_FTNFT_POOLED :0.5663647956774601
coef between OMAWDP8_FTFT_POOLED and OMENRUP8_FTFT_POOLED :-0.7614364173267546
coef between OMENRYP8_FTFT_POOLED and OMENRYP8_FTNFT_POOLED :0.6129008872052064
coef between OMENRAP8_FTFT_POOLED and OMENRAP8_FTNFT_POOLED :0.7277344459383254

coef between OMENRUP8_FTFT_POOLED and OMAWDP6_FTNFT_POOLED :-0.6540133957288891
coef between OMACHT6_PTFT_POOLED and OMACHT8_PTFT_POOLED :1.0
coef between OMACHT8_PTFT_POOLED and OMACHT6_PTNFT_POOLED :0.602266557518542
coef between OMACHT6_FTNFT_POOLED and OMACHT8_FTNFT_POOLED :1.0
coef between OMAWDP6_FTNFT_POOLED and OMAWDP8_FTNFT_POOLED :0.9924957014947828
coef between OMACHT8_FTNFT_POOLED and UG12MN :0.5272037555249721
coef between OMAWDP8_FTNFT_POOLED and OMENRAP8_FTNFT_POOLED :-0.6019415824681451
coef between OMENRYP8_FTNFT_POOLED and OMENRYP_ALL :0.6780395665890168
coef between OMENRAP8_FTNFT_POOLED and OMENRAP_ALL :0.8315192753497777
coef between OMENRUP8_FTNFT_POOLED and OMAWDP8_ALL :-0.5991083929721648
coef between OMACHT6_PTNFT_POOLED and OMACHT8_PTNFT_POOLED :1.0
coef between OMACHT8_PTNFT_POOLED and OMACHT8_PELL_PTNFT :0.7891997823270412
coef between POOLYRSOM_FTFT and POOLYRSOM_FIRSTTIME :0.8243791075746777
coef between POOLYRSOM_PTFT and POOLYRSOM_PTNFT :0.6008982891309833
coef between POOLYRSOM_FTNFT and POOLYRSOM_NOTFIRSTTIME :0.8542371719295042
coef between POOLYRSOM_PTNFT and SCHTYPE :0.5185403926980663
coef between SCHTYPE and FTFTPCTFLOAN :0.6011786229755683
coef between POOLYRSOM_FIRSTTIME and POOLYRS_FTFTAIDPCT :0.6038950273210233
coef between POOLYRSOM_NOTFIRSTTIME and POOLYRSOM_PELL_FTNFT :0.5254490756229692
coef between POOLYRSOM_FULLTIME and POOLYRSOM_PELL_FULLTIME :0.5595490443155885
coef between POOLYRSOM_PARTTIME and POOLYRSOM_PELL_PTFT :0.5192132663386818
coef between OMENRYP_ALL and OMENRYP_FIRSTTIME :0.8626135333998789
coef between OMENRAP_ALL and OMAWDP8_ALL :-0.5174202892354594
coef between OMAWDP8_ALL and OMENRUP_ALL :-0.7774293579377254
coef between OMENRUP_ALL and OMAWDP8_FIRSTTIME :-0.7308539411213769
coef between OMENRYP_FIRSTTIME and OMENRYP_NOTFIRSTTIME :0.5676624794616065
coef between OMENRAP_FIRSTTIME and OMENRAP_NOTFIRSTTIME :0.6875141633348721
coef between OMAWDP8_FIRSTTIME and OMENRUP_FIRSTTIME :-0.7864575372004119
coef between OMENRUP_FIRSTTIME and OMAWDP8_NOTFIRSTTIME :-0.6548436251765926
coef between OMENRYP_NOTFIRSTTIME and OMENRYP_FULLTIME :0.7401422024924982
coef between OMENRAP_NOTFIRSTTIME and OMAWDP8_NOTFIRSTTIME :-0.5892576376115917
coef between OMAWDP8_NOTFIRSTTIME and OMENRUP_NOTFIRSTTIME :-0.7187291593568063
coef between OMENRUP_NOTFIRSTTIME and OMAWDP8_FULLTIME :-0.6167854571280528
coef between OMENRYP_FULLTIME and OMENRYP_PELL_ALL :0.8817991642710831
coef between OMENRAP_FULLTIME and OMAWDP8_FULLTIME :-0.5058150670034718
coef between OMAWDP8_FULLTIME and OMENRUP_FULLTIME :-0.7584159167485588
coef between OMENRUP_FULLTIME and OMAWDP8_PELL_ALL :-0.6868398117771877
coef between FTFTPCTPELL and GT_THRESHOLD_P6 :-0.6362012481292113
coef between UG12MN and SCUGFFN :0.742238632058162
coef between SCUGFFN and SCUGFFN_POOLED :0.9889410754777136
coef between POOLYRS_FTFTAIDPCT and POOLYRS150_PELL :0.6186325068943582
coef between SCUGFFN_POOLED and OMACHT8_PELL_FTFT :0.6167671556649434
coef between PPLUS_PCT_LOW and PPLUS_PCT_HIGH :0.9423177689971186
coef between PPLUS_PCT_HIGH and PPLUS_PCT_LOW_POOLED_SUPP :0.9374902582023416
coef between PPLUS_PCT_LOW_POOLED_SUPP and PPLUS_PCT_HIGH_POOLED_SUPP :0.9429289468071286
coef between COUNT_NWNE_3YR and COUNT_WNE_3YR :0.9338954192054153
coef between COUNT_WNE_3YR and CNTOVER150_3YR :0.9964924836346799
coef between CNTOVER150_3YR and COUNT_NWNE_1YR :0.789474162041784
coef between OTHEREXPENSE_OFF and OTHEREXPENSE_FAM :0.7260229148496498
coef between MDCOMP_PD and MDCOST_PD :0.7149589760997676
coef between MDCOST_PD and MDEARN_PD :0.5181510171049255
coef between MDEARN_PD and GT_THRESHOLD_P6 :0.6084098871390942
coef between POOLYRS150_PELL and POOLYRSOM_PELL_FTFT :0.7041153319190635
coef between OMENRYP_PELL_ALL and OMENRYP_PELL_FIRSTTIME :0.8637330459904476
coef between OMENRAP_PELL_ALL and OMENRAP_PELL_FIRSTTIME :0.9216505522194158
coef between OMAWDP8_PELL_ALL and OMENRUP_PELL_ALL :-0.764313786704037
coef between OMENRUP_PELL_ALL and OMAWDP8_PELL_FIRSTTIME :-0.693675702953738
coef between OMENRYP_PELL_FIRSTTIME and OMENRYP_PELL_NOTFIRSTTIME :0.512228333132208
coef between OMENRAP_PELL_FIRSTTIME and OMENRAP_PELL_NOTFIRSTTIME :0.6611416178579087
coef between OMAWDP8_PELL_FIRSTTIME and OMENRUP_PELL_FIRSTTIME :-0.7592393183398627
coef between OMENRUP_PELL_FIRSTTIME and OMAWDP8_PELL_NOTFIRSTTIME :-0.5848467535148081
coef between OMENRYP_PELL_NOTFIRSTTIME and OMENRYP_PELL_FULLTIME :0.7171176628471024
coef between OMENRAP_PELL_NOTFIRSTTIME and OMAWDP8_PELL_NOTFIRSTTIME :-0.5527568667812512
coef between OMAWDP8_PELL_NOTFIRSTTIME and OMENRUP_PELL_NOTFIRSTTIME :-0.7171060962523818
coef between OMENRUP_PELL_NOTFIRSTTIME and OMAWDP8_PELL_FULLTIME :-0.5839621052953696
coef between OMENRYP_PELL_FULLTIME and OMENRYP8_PELL_FTFT :0.8800472287075786
coef between OMENRAP_PELL_FULLTIME and OMENRAP8_PELL_FTFT :0.9218169373950662
coef between OMAWDP8_PELL_FULLTIME and OMENRUP_PELL_FULLTIME :-0.7427738374079064
coef between OMENRUP_PELL_FULLTIME and OMAWDP8_PELL_FTFT :-0.665982066065358
coef between OMACHT8_PELL_FTFT and OMACHT8_PELL_FTNFT :0.5928222967129576
coef between OMAWDP8_PELL_FTFT and OMENRUP8_PELL_FTFT :-0.73076863383201
coef between OMENRYP8_PELL_FTFT and OMENRYP8_PELL_FTNFT :0.5326453556318174
coef between OMENRAP8_PELL_FTFT and OMENRAP8_PELL_FTNFT :0.6400761676938836
coef between OMENRUP8_PELL_FTFT and OMAWDP8_PELL_FTNFT :-0.5265480885806239
coef between OMACHT8_PELL_PTFT and OMACHT8_PELL_PTNFT :0.5688400599059789
coef between OMACHT8_PELL_FTNFT and OMACHT8_PELL_FTFT_POOLED :0.6518581344710849
coef between OMAWDP8_PELL_FTNFT and OMENRAP8_PELL_FTNFT :-0.5531555065680339
coef between OMENRYP8_PELL_FTNFT and OMENRYP8_PELL_FTNFT_POOLED :0.7427550719708159
coef between OMENRAP8_PELL_FTNFT and OMENRAP8_PELL_FTFT_POOLED :0.6305906984663822
coef between OMENRUP8_PELL_FTNFT and OMENRUP8_PELL_FTFT_POOLED :0.648337158780137
coef between OMACHT8_PELL_PTNFT and OMACHT8_PELL_PTFT_POOLED :0.5727333851330909
coef between OMACHT8_PELL_FTFT_POOLED and OMACHT8_PELL_FTNFT_POOLED :0.6557062255256941
coef between OMACHT8_PELL_PTFT_POOLED and OMACHT8_PELL_PTNFT_POOLED :0.5713148977037777
coef between OMAWDP8_PELL_FTFT_POOLED and OMENRUP8_PELL_FTFT_POOLED :-0.7363463480738263
coef between OMENRYP8_PELL_FTFT_POOLED and OMENRYP8_PELL_FTNFT_POOLED :0.6332909283353452
coef between OMENRAP8_PELL_FTFT_POOLED and OMENRAP8_PELL_FTNFT_POOLED :0.7013497707824075
coef between OMENRUP8_PELL_FTFT_POOLED and OMAWDP8_PELL_FTNFT_POOLED :-0.6280582448477263
coef between OMAWDP8_PELL_FTNFT_POOLED and OMENRAP8_PELL_FTNFT_POOLED :-0.598642964802146
coef between OMENRYP8_PELL_FTNFT_POOLED and OMENRYP_PELL_ALL_POOLED :0.7588167086747724
coef between OMENRAP8_PELL_FTNFT_POOLED and OMENRAP_PELL_ALL_POOLED :0.8521924966967804
coef between OMENRUP8_PELL_FTNFT_POOLED and OMAWDP8_PELL_ALL_POOLED :-0.6157232916079217
coef between OMENRYP_PELL_ALL_POOLED and OMENRYP_PELL_FTT_POOLED :0.9281280557411971
coef between OMENRAP_PELL_ALL_POOLED and OMENRAP_PELL_FTT_POOLED :0.9354683143864401
coef between OMAWDP8_PELL_ALL_POOLED and OMENRUP_PELL_ALL_POOLED :-0.7812710617727558
coef between OMENRUP_PELL_ALL_POOLED and OMAWDP8_PELL_FTT_POOLED :-0.7192556894168507
coef between OMENRYP_PELL_FTT_POOLED and OMENRYP_PELL_NFT_POOLED :0.6283892606035156
coef between OMENRAP_PELL_FTT_POOLED and OMENRAP_PELL_NFT_POOLED :0.7118460649142057
coef between OMAWDP8_PELL_FTT_POOLED and OMENRUP_PELL_FTT_POOLED :-0.7693599130535967
coef between OMENRUP_PELL_FTT_POOLED and OMAWDP8_PELL_NFT_POOLED :-0.6646086599116793
coef between OMENRYP_PELL_NFT_POOLED and OMENRYP_PELL_FT_POOLED :0.7738432957318285
coef between OMENRAP_PELL_NFT_POOLED and OMAWDP8_PELL_NFT_POOLED :-0.6002228552082921
coef between OMAWDP8_PELL_NFT_POOLED and OMENRUP_PELL_NFT_POOLED :-0.7302898727602978
coef between OMENRUP_PELL_NFT_POOLED and OMAWDP8_PELL_FT_POOLED :-0.6256921948773175
coef between OMENRAP_PELL_FT_POOLED and OMAWDP8_PELL_FT_POOLED :-0.5122444260150995
coef between OMAWDP8_PELL_FT_POOLED and OMENRUP_PELL_FT_POOLED :-0.7577533559149728
coef between OMENRUP_PELL_FT_POOLED and GT_THRESHOLD_P6 :-0.6224026281900271
coef between POOLYRSOM_PELL_FTFT and POOLYRSOM_PELL_FIRSTTIME :0.8798335881615016

coef between POOLYRSOM_PELL_PTFT and POOLYRSOM_PELL_PTNFT :0.6008025458303314
coef between POOLYRSOM_PELL_FTNFT and POOLYRSOM_PELL_NOTFIRSTTIME :0.8680432221339187
coef between POOLYRSOM_PELL_PTNFT and POOLYRSOM_PELL_PARTTIME :0.8839957001902454
coef between POOLYRSOM_PELL_ALL and POOLYRSOM_PELL_FULLTIME :0.6711970540183296
coef between POOLYRSOM_PELL_FIRSTTIME and POOLYRSOM_PELL_FULLTIME :0.5465877429030052
coef between COUNT_NWNE_1YR and COUNT_WNE_1YR :0.8040857814465471
coef between COUNT_WNE_1YR and CNTOVER150_1YR :0.992901919649166
coef between CNTOVER150_1YR and COUNT_WNE_INC1_P8 :0.7129388218519236
coef between GT_THRESHOLD_P6 and MD_EARN_WNE_INC1_P6 :0.8941117793677666
coef between MD_EARN_WNE_INC1_P6 and MD_EARN_WNE_INC2_P6 :0.9138564497132494
coef between MD_EARN_WNE_INC2_P6 and MD_EARN_WNE_INC3_P6 :0.9124809708661584
coef between MD_EARN_WNE_INC3_P6 and MD_EARN_WNE_INDEP1_P6 :0.8265552930781942
coef between MD_EARN_WNE_INDEP1_P6 and MD_EARN_WNE_INDEP0_P6 :0.9051578352465272
coef between MD_EARN_WNE_INDEP0_P6 and MD_EARN_WNE_MALE0_P6 :0.9540843594031525
coef between MD_EARN_WNE_MALE0_P6 and MD_EARN_WNE_MALE1_P6 :0.9092930669136178
coef between MD_EARN_WNE_MALE1_P6 and GT_THRESHOLD_P8 :0.8420425256908193
coef between GT_THRESHOLD_P8 and MD_EARN_WNE_INC1_P8 :0.8849722329188006
coef between COUNT_WNE_INC1_P8 and COUNT_WNE_INC2_P8 :0.9871756675655058
coef between MD_EARN_WNE_INC1_P8 and MD_EARN_WNE_INC2_P8 :0.9251469048740095
coef between COUNT_WNE_INC2_P8 and COUNT_WNE_INC3_P8 :0.9073613000114266
coef between MD_EARN_WNE_INC2_P8 and MD_EARN_WNE_INC3_P8 :0.9192176255863025
coef between COUNT_WNE_INC3_P8 and COUNT_WNE_INDEP1_P8 :0.8425443440059959
coef between MD_EARN_WNE_INC3_P8 and MD_EARN_WNE_INDEP1_P8 :0.8409903925798831
coef between COUNT_WNE_INDEP1_P8 and COUNT_WNE_INDEP0_P8 :0.6303082560409273
coef between MD_EARN_WNE_INDEP1_P8 and MD_EARN_WNE_INDEP0_P8 :0.9118294843577028
coef between COUNT_WNE_INDEP0_P8 and COUNT_WNE_MALE0_P8 :0.6644239686015595
coef between MD_EARN_WNE_INDEP0_P8 and MD_EARN_WNE_MALE0_P8 :0.9598900553178255
coef between COUNT_WNE_MALE0_P8 and COUNT_WNE_MALE1_P8 :0.9482111825828369
coef between MD_EARN_WNE_MALE0_P8 and MD_EARN_WNE_MALE1_P8 :0.9218339440533512
coef between MD_EARN_WNE_MALE1_P8 and GT_THRESHOLD_P10 :0.8449219430524629
coef between GT_THRESHOLD_P10 and MD_EARN_WNE_INC1_P10 :0.8765017536312754
coef between MD_EARN_WNE_INC1_P10 and MD_EARN_WNE_INC2_P10 :0.9272698866760656
coef between MD_EARN_WNE_INC2_P10 and MD_EARN_WNE_INDEP1_P10 :0.917451084910057
coef between MD_EARN_WNE_INDEP1_P10 and MD_EARN_WNE_INDEP0_P10 :0.9070116946210751
coef between MD_EARN_WNE_INDEP0_P10 and MD_EARN_WNE_MALE0_P10 :0.956657791032801
coef between MD_EARN_WNE_MALE0_P10 and MD_EARN_WNE_MALE1_P10 :0.916628446624417

In [78]:
len(removed)

332